*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.header-nav .nav{
    display: flex;
    height: 80px;
    background-color: #157293;
    justify-content: space-between;

}

.header-nav .nav .logo-link{
    padding-top: 25px;
    padding-left: 100px;
    font-size: 20px;
  
}
.nav-link{
    display: flex;
    font-size: 14px;
    width: 500px;
    justify-content: space-between;
    padding: 30px 100px 0 0;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

.hero-banner .hero{
    height: 500px;
    display: flex;
    padding: 100px 100px 0;
    justify-content: space-between;
}

.hero .title{
    width: 50%;

}

.hero .title h1{
    font-size: 35px;
    color: #4d9aad;
}

.hero .title p{
    margin-top: 24px;
    width: 400px;
    font-size: 16px;
    line-height: 22px;
}

.hero .title-image{
    width: 45%;
}
.hero img{
    width: 400px;
    height: 400px;
}

.content{
background-color: #ebebeb;
padding: 80px 100px 0;
margin-top: 100px;


}

.content-title{
    display: flex;
    justify-content: space-between;
}
.content-title h3{
    font-size: 25px;
    color: #4d9aad;
}

.content-title button{
    width: 130px;
    height: 50px;
    background-color: #157293;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.content .brand-logo{
    padding-top: 50px;
}

.content .brand{
    width: 250px;
  
}


/*
@media screen and (min-width: 1024px){

}
 @media screen and (min-width:768px){

} 
@media screen and (max-width: 414px){
.wrapper .header-nav{
display: flex;
}
} */