*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.header-nav .nav{
    display: flex;
    height: 80px;
    background-color: #157293;
    justify-content: space-between;
    padding: 25px 100px;

}

.header-nav .nav .logo-link{
    font-size: 18px;
  
}
.nav-link{
    display: flex;
    font-size: 14px;
    width: 500px;
    justify-content: space-between;
    padding: 5px 0;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

.hero-banner .hero{
    height: 500px;
    display: flex;
    padding: 100px 100px 0;
    justify-content: space-between;
}

.hero .title{
    width: 50%;

}

.hero .title h1{
    font-size: 35px;
    color: #4d9aad;
}

.hero .title p{
    margin-top: 24px;
    width: 400px;
    font-size: 16px;
    line-height: 22px;
}

.hero .title-image{
    width: 45%;
}
.hero img{
    width: 400px;
    height: 400px;
}

.content{
background-color: #ebebeb;
padding: 80px 100px;
margin-top: 100px;

}

.content .content-title{
    display: flex;
    justify-content: space-between;
}
.content .content-title h3{
    font-size: 25px;
    color: #4d9aad;
}

.content-title button{
    width: 130px;
    height: 50px;
    background-color: #157293;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.content .brand-logo{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.content .brand-logo .first-row{
    display: flex;
    justify-content: space-between;
   
}
.content .brand-logo .second-row{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
   
}
.content .brand-logo img{
    width: 30%;
    border-radius: 5px;
}

/* ===================
MEDIA QUERY
====================== */

/*
@media screen and (min-width:768px){
    
} 

@media screen and (min-width: 1024px){

}
@media screen and (max-width: 414px){

}

*/